body {
    background-image: url("football-field.jpg");
    background-size: cover;
}

.reset {
    background-color: red;
}

i {
    color: red;
}

.logo {
    object-fit: contain;
    width: 307px;
    height: 225px;
    transform: scaleX(-1);
}